<!-- Notable Cities -->
<div class="row">
	<div class="large-3 columns">
		<a href="/projects/outpost/#/weather/san_francisco/">
			<div class="cityBox" style="background: url(https://a2.muscache.com/ic/discover/275?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px)">
				San Francisco
			</div>
		</a>
	</div>
	<div class="large-3 columns">
		<a href="/projects/outpost/#/weather/los_angeles/">
			<div class="cityBox" style="background: url(http://socialventurepartners.org.s3.amazonaws.com/www.socialventurepartners.org/sites/49/2013/05/Los-Angeles-Slider1.jpg) center center">
				Los Angeles
			</div>
		</a>
	</div>
	<div class="large-3 columns">
		<a href="/projects/outpost/#/weather/new_york/">
			<div class="cityBox" style="background: url(https://a1.muscache.com/ic/discover/84?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px)">
				New York
			</div>
		</a>
	</div>
	<div class="large-3 columns">
		<a href="/projects/outpost/#/weather/chicago/">
			<div class="cityBox" style="background: url(https://a2.muscache.com/ic/discover/182?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px) center center">
				Chicago
			</div>
		</a>
	</div>
</div>